/* Main */

	#main {
		background-color: _palette(bg-alt);

		> * {
			border-top: solid 1px _palette(border);

			&:first-child {
				border-top: 0;
			}

			@include inner;
		}

		&.alt {
			background-color: transparent;
			border-bottom: solid 1px _palette(border);
		}
	}

	.blogpost{
		img{
			width: 60%;
			margin-top: 2em;
		}
	}

	
	.layout1{
		display: flex;
		flex-direction: column;
	}

	.mypic {
		max-width: 100% !important;
		
		}

	.small-icon{
		width: 24px;
		height: 24px;
		
	}

	.skillset{
		display: flex;
		flex-direction: row;
		list-style: none;
	}

	.skilllist{
		list-style: none;
		margin: 0px;
		padding: 0px;
		// display: flex;
		// flex-direction: row;
	}

	.process{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.projectdetails{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.project{
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	
	


	.top{
		text-align: center;
	}

	.displaybuttons{
		display: flex;
		flex-direction: row;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.processlist{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.eachprocess{
		padding: 30px;
	}

		@media screen and (max-width: 980px) {
			.pic{
				max-height: 60vh;
				object-position:center;
				object-fit: cover;
			}
		}


	@media screen and (min-width: 981px) {
		.layout1{
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.mypic {
			max-width: 30% !important;
			}
			

	}

